In [1]:
import pandas as pd
import numpy as np
PopulationDf = pd.read_csv("TotalPopulation.csv")
CrimeDf = pd.read_csv("Crime_Incidents.csv")
PopulationDf = PopulationDf.rename(columns={'ZCTA5CE10':'zip_code'})
MergedDf = pd.merge(PopulationDf, CrimeDf, on='zip_code')
MergedDf.head()

/opt/conda/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,OBJECTID,zip_code,GEOID10,ALAND10,AWATER10,County,GlobalID,Shape_STArea__,Shape_STLength__,ID,...,hour_of_day,year,scout_car_area,precinct,block_id,neighborhood,council_district,longitude,latitude,oid
0,8,48236,2648236,19463663,3357791,Wayne,cde3e9af-fe1f-4bfa-89cd-94d6acf1dd94,2.456210e+08,86856.499733,31,...,19.0,2019.0,0505,05,2.616350e+14,Cornerstone Village,4.0,-82.921951,42.421823,183.0
1,8,48236,2648236,19463663,3357791,Wayne,cde3e9af-fe1f-4bfa-89cd-94d6acf1dd94,2.456210e+08,86856.499733,31,...,14.0,2016.0,0505,05,2.616350e+14,Cornerstone Village,4.0,-82.912796,42.412157,1489.0
2,8,48236,2648236,19463663,3357791,Wayne,cde3e9af-fe1f-4bfa-89cd-94d6acf1dd94,2.456210e+08,86856.499733,31,...,22.0,2017.0,0505,05,2.616350e+14,Cornerstone Village,4.0,-82.913426,42.416999,1662.0
3,8,48236,2648236,19463663,3357791,Wayne,cde3e9af-fe1f-4bfa-89cd-94d6acf1dd94,2.456210e+08,86856.499733,31,...,14.0,2017.0,0505,05,2.616350e+14,Cornerstone Village,4.0,-82.920798,42.421351,2099.0
4,8,48236,2648236,19463663,3357791,Wayne,cde3e9af-fe1f-4bfa-89cd-94d6acf1dd94,2.456210e+08,86856.499733,31,...,4.0,2017.0,0505,05,2.616350e+14,Cornerstone Village,4.0,-82.915172,42.414650,2224.0

In [2]:
%load_ext sql
%sql postgres://jovyan:si330studentuser@localhost:5432/si330
import psycopg2
import sqlalchemy
engine = sqlalchemy.create_engine('postgres://jovyan:si330studentuser@localhost:5432/si330')
%sql drop table if exists crime cascade
CrimeDf.to_sql("crime", engine)

 * postgres://jovyan:***@localhost:5432/si330
Done.

In [3]:
%%sql 
create view recent_crimes as select * from crime where year >= 2016;

 * postgres://jovyan:***@localhost:5432/si330
Done.

[]

In [4]:
%%sql
select distinct on (year) year, most_frequent_crime from (
SELECT year, offense_description AS most_frequent_crime, count(*) as _count
FROM recent_crimes
GROUP BY year, offense_description) a
ORDER BY year, _count DESC

 * postgres://jovyan:***@localhost:5432/si330
6 rows affected.

[(2016.0, 'BURGLARY - FORCED ENTRY'),
 (2017.0, 'ASSAULT AND BATTERY/SIMPLE ASSAULT'),
 (2018.0, 'ASSAULT AND BATTERY/SIMPLE ASSAULT'),
 (2019.0, 'ASSAULT AND BATTERY/SIMPLE ASSAULT'),
 (2020.0, 'ROBBERY'),
 (2021.0, 'ARSON')]

In [5]:
def crimes_per_pop_zips(MergedDf):
    MergedDf = MergedDf.set_index(pd.to_datetime(MergedDf['incident_timestamp'])).sort_index()
    ndf = MergedDf['2016-01-01':]
    pop = ndf[['zip_code', 'Total_Population','year']]
    pop = pop.groupby(['zip_code','year']).mean()

    zips = ndf[['zip_code','year']]
    zips = zips.groupby(['zip_code','year']).size().reset_index()
    zips = zips.rename(columns={0:'count'}).set_index(['zip_code','year'])
    new = pd.merge(zips, pop, how='left',on=['zip_code','year'])

    def crimes_per_pop(row):
        return row['count'] / row['Total_Population']

    new['crimes_per_pop'] = new.apply(crimes_per_pop, axis=1)
    pivot = pd.pivot_table(new, values='crimes_per_pop', index='zip_code', columns='year')
    results = []
    for year in pivot.columns:
        results.append('Zip code with the most crimes per total population in {}: {}'.format(str(year)[0:4], str(pivot[year].idxmax())))
    return results
crimes_per_pop_zips(MergedDf)

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:13: RuntimeWarning: divide by zero encountered in long_scalars
  del sys.path[0]

['Zip code with the most crimes per total population in 2016: 48226',
 'Zip code with the most crimes per total population in 2017: 48243',
 'Zip code with the most crimes per total population in 2018: 48243',
 'Zip code with the most crimes per total population in 2019: 48226',
 'Zip code with the most crimes per total population in 2020: 48213',
 'Zip code with the most crimes per total population in 2021: 48204']

In [6]:
# Find most frequent crime for the zip codes we determined were "most dangerous" in the Detroit area

In [7]:
%%sql
select zip_code, most_frequent_value from (
SELECT zip_code, offense_description AS most_frequent_value, count(*) as _count
FROM recent_crimes
WHERE zip_code = 48228
GROUP BY zip_code, offense_description) a
ORDER BY zip_code, _count DESC LIMIT 1;

 * postgres://jovyan:***@localhost:5432/si330
1 rows affected.

[(48228.0, 'ASSAULT AND BATTERY/SIMPLE ASSAULT')]

In [8]:
%%sql
select zip_code, most_frequent_value from (
SELECT zip_code, offense_description AS most_frequent_value, count(*) as _count
FROM recent_crimes
WHERE zip_code = 48224
GROUP BY zip_code, offense_description) a
ORDER BY zip_code, _count DESC LIMIT 1

 * postgres://jovyan:***@localhost:5432/si330
1 rows affected.

[(48224.0, 'ASSAULT AND BATTERY/SIMPLE ASSAULT')]

In [9]:
%%sql
select zip_code, most_frequent_value from (
SELECT zip_code, offense_description AS most_frequent_value, count(*) as _count
FROM recent_crimes
WHERE zip_code = 48243
GROUP BY zip_code, offense_description) a
ORDER BY zip_code, _count DESC LIMIT 1

 * postgres://jovyan:***@localhost:5432/si330
1 rows affected.

[(48243.0, 'ACCIDENT, HIT & RUN')]

In [10]:
%%sql
select zip_code, most_frequent_value from (
SELECT zip_code, offense_description AS most_frequent_value, count(*) as _count
FROM recent_crimes
WHERE zip_code = 48226
GROUP BY zip_code, offense_description) a
ORDER BY zip_code, _count DESC LIMIT 1

 * postgres://jovyan:***@localhost:5432/si330
1 rows affected.

[(48226.0, 'ASSAULT AND BATTERY/SIMPLE ASSAULT')]

In [11]:
%%sql
select zip_code, most_frequent_value from (
SELECT zip_code, offense_description AS most_frequent_value, count(*) as _count
FROM recent_crimes
WHERE zip_code = 48205
GROUP BY zip_code, offense_description) a
ORDER BY zip_code, _count DESC LIMIT 1

 * postgres://jovyan:***@localhost:5432/si330
1 rows affected.

[(48205.0, 'ASSAULT AND BATTERY/SIMPLE ASSAULT')]